{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div class="nav">
	<a href="{% url 'ideashare_home' %}">Home</a>
	<a href="{% url 'contact' %}">Contact</a>
	<a href="{% url 'create_idea' %}">Create Idea!</a>
	<a href="{% url 'browse' %}">Browse</a>
</div>
<div class="header">
	{% if user.is_authenticated %}
	    <a href="{% url 'my_ideas' %}">My Ideas</a>
	    <a href="{% url 'user_profile' username=user.username %}">My Profile</a>
	    <a href="{% url 'auth_logout' %}">Logout</a>

    {% else %}
	    <a href="{% url 'registration_register' %}">Register</a>
	    <a href="{% url 'auth_login' %}">Login</a>
    {% endif %}
</div>


<div id="content">
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</div>

</body>
</html> 
