{% extends 'base.html' %}
{% block title %}
    {{ user.username }} - {{ block.super }}
{% endblock title %}


{% block content %}
 <div>
	<h1>USER PROFILE</h1>
	<h2>{{ user.username }}</h2>
	<h2>{{ user.profile.website }}</h2>
	<h2>{{ user.profile.bio }}</h2>
	<h2>{{ user.profile.phone }}</h2>
	<h2>{{ user.profile.city }}</h2>
	<h2>{{ user.profile.country }}</h2>
</div>
{% for idea in ideas %}
<div>
	<h1>IDEA</h1>
	<h2>{{ idea.votes }}</h2>
	<h2>{{ idea.name }}</h2>
	<h2>{{ idea.overview }}</h2>
	<h2>{{ idea.description }}</h2>
	<h2>{{ idea.overview }}</h2>
	<h2>{{ idea.published_date }}</h2>
	{% if user == idea.user %}
		<a href="{% url 'edit_idea' slug=idea.slug %}">Edit your idea!</a>
    {% endif %}
</div>
{% endfor %}
{% endblock content %}