{% extends 'base.html' %}
{% block title %}
    {{ user.username }} - {{ block.super }}
{% endblock title %}


{% block content %}
<div id="user_profile">
	<div id="user_section">
        <div id="user">
            <div class="imgdiv">
                {% if user.profile.photo %}
                    <img src="{{ user.profile.photo.url }}" alt="" class="user">
                {% endif %}
            </div>
    		<h1 class="user"><a class="user" href={{ user.profile.website }}>{{ user.first_name }} {{ user.last_name }}</a></h1>
    		<h3 class="user"><span class="user">{{ user.username }}</span></h3>
    		<p class="user">{{ user.profile.bio }}</p>
    		<h3 class="user">{{ user.profile.city }}, {{ user.profile.country }}</h3>
        </div>
	</div>
    <div class="ideas" style="padding-top: 0; padding-bottom: 0;">
        <h1 class="section">Ideas:</h1>
        <ul>
        {% for idea in ideas %}
         <li>
            <div class="idea_section">
        		<h2>
                    <a class="idea_name" href="{% url 'idea_detail' slug=idea.slug %}">{{ idea.name }}
                	</a>
                </h2>
                <h3>{{ idea.overview }} | <span class="published_date">{{ idea.published_date }}</span></h3>
                <p class="username">by <i class="username"><a id="user_link" href="{% url 'user_profile' username=idea.user %}">{{ idea.user }}</a></i></p>
                <p style="margin-top: 1em;">{{ idea.description|truncatewords:25 }}</p>
        	</div>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}