{% extends 'base.html' %}
{% block title %}
    Login - {{ block.super }}
{% endblock title %}

{% block content %}

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="login" class="login loginmodal-submit" value="Submit">
            </form>

            <div class="login-help">
                <a href="#">Register</a> - <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <h1>Login</h1>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    <p>
    	<a href="{% url 'password_reset' %}">
    	Forgot your password?
    	</a>
    </p>
    <p>
        Don't have an account? 
        <a href="{% url 'registration_register' %}">Register here</a>
    </p>
</div>
{% endblock content %}