{% extends 'base.html' %}
{% block title %}
    Password Reset Form - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="block form" id="password_reset">
    <h1>Password Reset Form</h1>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="submit"/>
        <input type="submit" name="cancel" value="Cancel" class="button danger" formnovalidate>
    </form>
</div>
{% endblock content %}