* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

html {
	height: 100%;
}

body {
	padding-top: 66px;
	background-color: #f2f2f2;
	height: 100%;
}

a:hover {
	text-decoration: none;
}

h1.section {
	font-size: 50px;
	margin-bottom: 30px;
}

ul {
	padding-left: 0;
}

/* ===================== NAV ====================== */
#nav_special:hover {
	color: #008ae6;
}

.navbar a {
	transition: 0.3s;
}



/* ===================== INDEX ==================== */
/* --------------------- INTRO -------------------- */
#intro {
	background-color: #f2f2f2;
	text-align: center;
	height: 100vh;
	min-height: 500px;
	padding: 12vh 0;
}

#intro_inner {

	height: 80%;
}

#intro h2 {
	margin: 50px 10% 0;
	padding-bottom: 75px;
}

/* ---------------------- COUNT -------------------- */
#count {
	background-color: #001a4d;
	color: #e6e6e6;
	padding: 10%;
	height: 100vh;
	min-height: 475px;
}

#count .row {
	text-align: center;
	padding: 0 10%;
	margin-top: 10vh;
	height: 80vh;
}

#count .number {
	font-size: 120px;
}

/* ---------------------- IDEAS -------------------- */
.ideas {
	padding: 30px 10%;
	background-color: #f2f2f2;
}

.ideas h2, .ideas h3, .ideas p {
 margin: 0;
 padding: 0 0 0 15px;
 font-weight: normal;
}

.ideas h2 {
  font-size: 2em;
  margin: 0 0 3px;
  padding: 0;
  color: #008ae6;
  font-weight: 500;
 }

.ideas h3 {
font-size: 1.2em;
}

.ideas li {
	list-style: none;
}

.idea p {
	margin-bottom: 20px;
	line-height: 1.2;
}

.idea_section {
	background-color: #fff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 20px;
	margin-bottom: 30px;
}

/* 			IDEA SECTION 			*/
a.idea_name {
  color: #008ae6;
  transition: 0.5s;
}

a.idea_name:hover {
  color: #191970;
}

.published_date {
  font-style: italic;
  color: #696969;
  font-size: .6em;
}

.username {
  font-size: .8em;
  margin: 0 0 0 10px;
}

.username i {
  font-size: 1em;
  margin: 0;
  color: #696969;
}

#user_link {
	color: #696969;
	transition: 0.3s;
}

#user_link:hover {
	color: #000;
	transition: 0.3s;
}

a.edit {
	color: #696969;
	transition: 0.3s;
}

.edit:hover {
	color: #000;
	transition: 0.3s;
}

/* ========================== FOOTER ========================= */
footer {
	background-color: #a6a6a6;
}

.footer p {
  margin: 0 auto;
  padding-top: 30px;
  max-width: 600px;
  text-align: center;
  color: #fff;
}

.social {
	width: 190px;
	margin: 0 auto;
	overflow: auto;
	text-align: center;
}

.fa {
	box-sizing: unset;
	color: #fff;
	margin: 15px auto 25px;
    padding: 5px 7px 5px 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa:hover {
	text-decoration: none;
	color: #fff;
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

#facebook:hover {
	background-color: #3d5b99;
}

#linkedin:hover {
	background-color: #0073a4;
}

#github:hover {
	background-color: #040204;
}

#envelope:hover {
	background-color: #C20806;
}

/* ============================================================ */
/* ======================= OTHER PAGES ======================== */
/* ============================================================ */

/* =========================== CONTACT ======================== */

.big_form {
  background-color: #fff;
  padding: 30px 10%;
  text-align: center;
}

.big_form form {
  max-width: 800px;
  margin: 0 auto;
}

.big_form h1 {
  text-align: left;
}

/* ======================= USER PROFILE ======================= */

#user_profile {
	background-color: #f2f2f2;
	padding-bottom: 30px;
}


#user {
	text-align: center;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 20px;
	margin: 50px 5% 50px;
}

h1.user {
	color: #008ae6;
	font-size: 75px;
	margin: 20px 0 0;
  line-height: 1em;
}

h3.user {
	color: #000;
}

a.user {
	color: #008ae6;
}

p.user {
	margin-top: 30px;
	padding: 0 5%;
}

span.user {
	font-style: italic;
	color: #696969;

}

#user .ideas {
	padding-top: 0;
}

.imgdiv {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
  margin: 15px auto 10px;
  background-image: url("../images/default.png");
  background-repeat: no-repeat;
  background-size: 200px;
}

img.user {
  width: 200px;
}


/* ====================== FORMS ========================== */

.form {
  text-align: center;
  margin: 100px auto 150px;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#login {
  width: 300px;
}

#registration {
  width: 500px;
  padding: 30px;
}

#password_reset {
  width: 300px;
}

.form h1 {
  color: #008ae6;
  margin: 0 auto .75rem;

}

.form label {
  text-align: left;
  display: block;
  margin-bottom: 0;
  font-size: 14px;
}

.form input {
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  padding: 6px 8px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  -webkit-box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  -moz-box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  border: 1px solid #d1d5da;
}

#registration span {
  font-size: 12px;
  color: #696969;
}

#registration ul {
  list-style: none;
  margin-top: -10px;
}

#registration li {
  font-size: 12px;
  color: #696969;
}

.form .redirect {
  font-size: 12px;
  margin-bottom: 0;
}

.form .submit {
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  background-image: -moz-linear-gradient(#34d058, #28a745);
  background-image: -ms-linear-gradient(#34d058, #28a745);
  background-image: -o-linear-gradient(#34d058, #28a745);
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  color: #fff;
  margin-bottom: 5px;
}

.button.danger {
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff;
    border-radius: 0.25em;
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -ms-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

.form .submit:hover {
  cursor: pointer;
  border-color: #333333;
}

.form .danger:hover {
  cursor: pointer;
  border-color: #333333;
}


/* ===================== BOOTSTRAP OVERRIDE =================== */
.container-fluid {
	padding: 0;
}