{% extends 'base.html' %}
{% block title %}
    Browse - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="ideas">
    <h1>
        Browse ideas {% if initial %} Starting with 
        {{ initial|title }}' {% else %} by Name {% endif %}
    </h1>

    {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
    <a href="{% url 'browse' initial=letter %}" 
    {% if initial == letter %}class="active"{% endif %}>
        {{ letter|upper }}
    </a>
    {% endfor %}

    {% for idea in ideas %}
    <li>
        <div class="idea_section">
            <div class="idea_outer">
                <div class="idea">
                    <h2>
                        <a class="idea_name" href="{% url 'idea_detail' slug=idea.slug %}">{{ idea.name }}
                        </a>
                    </h2>
                    <h3>{{ idea.overview }} | <span class="published_date">{{ idea.published_date }}</span></h3>
                    <p class="username">by <i class="username"><a id="user_link" href="{% url 'user_profile' username=idea.user %}">{{ idea.user }}</a></i></p>
                    <p style="margin-top: 1em;">{{ idea.description|truncatewords:25 }}</p>
                </div>
            </div>
        </div>
    </li>
    {% empty %}
    	<p>Sorry, no results!</p>
    {% endfor %}

    {% if initial != letter %}
    <a href="{% url 'browse' %}">Back to Browse</a>
    {% endif %}

    <h1>
        Browse ideas with the most votes
    </h1>

    {% for idea in ideas_by_vote %}
	<li>
        <div class="idea_section">
            <div class="idea_outer">
                <div class="idea">
                    <h2>
                        <a class="idea_name" href="{% url 'idea_detail' slug=idea.slug %}">{{ idea.name }}
                            </a>
                    </h2>
                    <h3>{{ idea.overview }} | <span class="published_date">{{ idea.published_date }}</span></h3>
                    <p class="username">by <i class="username"><a id="user_link" href="{% url 'user_profile' username=idea.user %}">{{ idea.user }}</a></i></p>
                    <p style="margin-top: 1em;">{{ idea.description|truncatewords:25 }}</p>
                </div>
            </div>
        </div>
    </li>
    {% empty %}
    <p>Sorry, no results!</p>
    {% endfor %}
</div>
{% endblock content %}