{% extends 'base.html' %}
{% block title %}
    {{ idea.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="ideas">
 	<div class="idea_section">
        <h2>{{ idea.name }}</h2>
        <h3>{{ idea.overview }} | <span class="published_date">{{ idea.published_date }}</span></h3>
        <p class="username">by <i class="username"><a id="user_link" href="{% url 'user_profile' username=idea.user %}">{{ idea.user }}</a></i></p>
        <p style="margin-top: 1em;">{{ idea.description }}</p>
    </div>
</div>
{% endblock content %}