{% extends 'base.html' %}
{% block title %}
    {{ idea.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="ideas">
<h1 class="section">My Ideas:</h1>
<ul>
    {% for idea in ideas %}
     <li>
        <div class="idea_section">
            <h2>
                <a class="idea_name" href="{% url 'idea_detail' slug=idea.slug %}">{{ idea.name }}
                </a>
            </h2>
            <h3>{{ idea.overview }} | <span class="published_date">{{ idea.published_date }}</span></h3>
            <p class="username">by <i class="username"><a id="user_link" href="{% url 'user_profile' username=idea.user %}">{{ idea.user }}</a></i></p>
            <p style="margin-top: 1em;">{{ idea.description|truncatewords:25 }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock content %}